tmp/
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
main/mmap_generate_emoji.h

# flasher 打包时由 CI 生成的版本文件
scripts/flasher/_version.py
scripts/flasher/__pycache__/
